asttokens==2.4.1
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
click-default-group==1.2.4
cloup==2.1.2
colorama==0.4.6
comm==0.2.1
contourpy==1.2.0
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
executing==2.0.1
fonttools==4.47.0
glcontext==2.5.0
idna==3.6
ipykernel==6.28.0
ipython==8.19.0
isosurfaces==0.1.0
jedi==0.19.1
jupyter_client==8.6.0
jupyter_core==5.6.1
kiwisolver==1.4.5
manim==0.18.0
ManimPango==0.5.0
mapbox-earcut==1.0.1
markdown-it-py==3.0.0
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
moderngl==5.9.0
moderngl-window==2.4.4
multipledispatch==1.0.0
nest-asyncio==1.5.8
networkx==3.2.1
numpy==1.26.3
opencv-python==4.9.0.80
packaging==23.2
parso==0.8.3
Pillow==9.5.0
platformdirs==4.1.0
prompt-toolkit==3.0.43
psutil==5.9.7
pure-eval==0.2.2
pycairo==1.25.1
pydub==0.25.1
pyglet==2.0.10
Pygments==2.17.2
pyparsing==3.1.1
pyrr==0.10.3
python-dateutil==2.8.2
pywin32==306
pyzmq==25.1.2
requests==2.31.0
rich==13.7.0
scipy==1.11.4
screeninfo==0.8.1
six==1.16.0
skia-pathops==0.7.4
srt==3.5.3
stack-data==0.6.3
svgelements==1.9.6
tornado==6.4
tqdm==4.66.1
traitlets==5.14.1
typing_extensions==4.9.0
urllib3==2.1.0
watchdog==3.0.0
wcwidth==0.2.12
